In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

               timestamp  cpu_usage  ram_usage
0    2026-01-02 15:28:44       22.1       76.1
1    2026-01-02 15:28:50        8.6       76.0
2    2026-01-02 15:28:56        2.4       75.6
3    2026-01-02 15:29:02        0.9       75.7
4    2026-01-02 15:29:08        9.4       75.4
..                   ...        ...        ...
271  2026-01-02 15:47:04       10.6       78.7
272  2026-01-02 15:47:10       18.3       77.0
273  2026-01-02 15:47:16       11.3       76.4
274  2026-01-02 15:47:22       14.7       76.1
275  2026-01-02 15:47:28        8.5       76.4

[276 rows x 3 columns]

In [4]:
df['cpu_usage'] = df['cpu_usage'].astype(int)

In [5]:
df['cpu_usage'].min()

0

In [6]:
df['cpu_usage'].max()

62

In [7]:
df['ram_usage'] = df['ram_usage'].astype(int)

In [8]:
df['ram_usage'].min()

74

In [9]:
df['ram_usage'].max()

84

In [10]:
index_label = df[df['cpu_usage'] == 0].index

In [11]:
index_label

Index([3], dtype='int64')

In [12]:
index_label2 = df[df['cpu_usage'] == 62].index

In [13]:
index_label2

Index([34], dtype='int64')

In [14]:
index_ram = df[df['ram_usage'] == 74].index

In [15]:
index_ram

Index([56], dtype='int64')

In [16]:
row1 = df.iloc[3]
row1

timestamp    2026-01-02 15:29:02
cpu_usage                      0
ram_usage                     75
Name: 3, dtype: object

In [17]:
cpu_stats = df['cpu_usage'].describe()

In [18]:
cpu_stats

count    276.000000
mean      11.242754
std        8.161269
min        0.000000
25%        6.000000
50%       10.000000
75%       13.000000
max       62.000000
Name: cpu_usage, dtype: float64

In [19]:
correlation = df['cpu_usage'].corr(df['ram_usage'])
correlation

np.float64(0.35400599113213266)

In [20]:
ram_stats = df['ram_usage'].describe()
ram_stats

count    276.000000
mean      78.507246
std        2.795441
min       74.000000
25%       76.000000
50%       78.000000
75%       81.000000
max       84.000000
Name: ram_usage, dtype: float64

In [21]:
avg_cpu = df['cpu_usage'].mean()
count_above_avg = (df['cpu_usage'] > avg_cpu).sum()

avg_cpu, count_above_avg

(np.float64(11.242753623188406), np.int64(107))

In [22]:
heavy_load = df[df['cpu_usage'] > 70]

heavy_load

Empty DataFrame
Columns: [timestamp, cpu_usage, ram_usage]
Index: []

In [23]:
heavy_load.empty

True